.main-chat 
  .main-chat__group-info
    .head-items
      .head-items__team
        = @group.name
      .head-items__members
        - @group.users.each do |g| #グループメンバーを一人一人取り出さないといけないのでeach文を利用する。
          = g.name
    .head-btn
      = link_to edit_group_path(current_user.id),class: "head-btn__edit" do  
        Edit
  .main-chat__message-list
    = render @messages
    
  
  .main-chat__messages-form
    = form_with model: [@group, @message], html: {class: "bottom-space"}, local: true do |f|
      .bottom-space__white
        = f.text_field :content, class: 'bottom-space__white__line', placeholder: 'type a message'
        = f.label :image, class: 'bottom-space__white__picture' do
          = icon('far', 'image', class: 'bottom-space__white__picture__mtn')
          = f.file_field :image, class: 'bottom-space__white__picture__file'
      = f.submit 'Send', "data-disable-with": "送信中...", class: 'bottom-space__blue'